:root {
    --color1: #2104D9;
    --color2: #7C8EA6;
    --color3: #D9CB04;
    --color4: #0D0C00;
    --color5: #D9B504;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color5);
}
section, div {
    padding: 20px;
}

/* style header */
header {
    display: flex;
    background-color: var(--color2);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 999;
}
header h1 {
    font-weight: bold;
    font-size: 36px;
}
header a {
    text-decoration: none;
    color: var(--color1);
}
header nav {
    padding: 10px 40px;
}
header nav ul{
    /* text-decoration: none; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.65vw;
}
/* End Header Style */

/* style hero */
.hero {
    background-image: url("../images/image1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: local;
    background-position: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;

}
.hero img{
    width: 25%;
    height: 25%;
    border: 5px solid white;
}
.hero h2 {
    color: var(--color3);
    background-color: var(--color2);
    padding: 0 20px;
    border: 1px solid white;
}
/* style body content*/
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
}
.sectionTitle {
    width: 200px;
    border-right: 5px solid white;
    margin: 0 auto;
}
.sectionTitle h2 {
    width: 200px;
    font-size: 30px;
    padding: 0 10px;
    margin-right: 10px;
}


.section-content img{
    opacity: 70%;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.section-content div{
    position: relative;
    padding: 0;
    margin: 0;
}
.section-content h3 {
    position: absolute;
    left: 40%;
    bottom: 5px;
    font-size: 30px;
    font-weight: bolder;
    z-index: 99;
}

.content section {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%
}

.content section .section-content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.content section .section-content ul li{
    margin: 0 30px;
    font-weight: normal;
    font-size: 1.65vw;
}
.content .section-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.content .section-content div{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.section-content div:first-child{
    width: 100%;
}


/* Media Queries */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
}